.idea
.vs
.vscode/settings.json
build
cmake-build*
node_module*
Client/node_module*
Client/jsbuild/*
Client/package-lock*
Client/Audio/Temp/**
Client/Profiles/**
Client/Anima.exe*
Client/Anima.log
Client/AnimaError.log
Client/.env
Client/web/
Client/webapp/public/
Client/other/
SKSE/build
SKSE/.vs
Release/